{% extends "base.html" %}
{% block title %}Index{% endblock %}





{% block content %}


<style>

            .hero-text {
            text-align: center;
            position: relative;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: White;
        }

        .hero-image {
            background-image: url("https://i.ibb.co/tmQjw99/calc1.jpg");
            width: 100%;
            height: 700px;
            background-position: top;
            background-size: cover;


        }
</style>

<div class="hero-image">
    <div class="hero-text">
        <h1 style="font-size:100px">Calculator</h1>
         <button class = "btn btn-dark" onclick="document.location='/calculator1'"> Click to Start </button>

    </div>
</div>

<br>
<br>
<!--<a href="/good/1.0/2.0">One Plus Two Good</a><br><a href="/bad/1/2">One Plus Two Bad</a>-->
{% endblock %}
